stages:          # List of stages for jobs, and their order of execution
  - deploy

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  image: python:3.10
  rules:
    - if: $CI_COMMIT_BRANCH == 'master' || $CI_COMMIT_BRANCH == 'main'
  before_script: []
  script:
    - pip install build
    - pip install -e .
    - PKG_VERSION=$(python -c "from importlib.metadata import version; print(version(\"${CI_PROJECT_NAME}\"))")
    - git config user.email "${GITLAB_USER_EMAIL}"
    - git config user.name "${GITLAB_USER_NAME}"
    - git tag -a v${PKG_VERSION} -m "creating tag ${PKG_VERSION}"
    - git push https://public.git.erdc.dren.mil/jgramm/vispipe.git ${PKG_VERSION}
    - python -m build
